boto3==1.14.5
botocore==1.17.5
certifi==2020.4.5.2
chardet==3.0.4
docutils==0.15.2
idna==2.9
jmespath==0.10.0
pystache==0.5.4
python-dateutil==2.8.1
requests==2.24.0
responses==0.10.15
s3transfer==0.3.3
sentry-sdk==0.15.1
six==1.15.0
urllib3==1.26.5
